#title,#cta{
    padding-bottom:0;
    font-family: 'Bree Serif', serif;
}

#brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
    font-size: 2.5rem;
}

.container-fluid{
    padding: 3% 15% 7%;
}


/* Section  */
.colored{
    background-color: #ff4c68;
}
.whited{
    background-color: #fff;
}

/* Navigation bar */
.navbar{
    margin-bottom:1.5rem;
}
.navbar-brand{
    color:#fff;
    font-size:2.5rem;
    font-weight: bolder;
    padding-left:0;
}

.nav-item{
    padding:0 18px;
    font-family: 'Bree Serif', serif;
    font-weight: 500;
    font-size: 1.2rem;
}

/* Downloading buttons */
.download-btn{
    margin:15px 10px 15px 0;
}

/* Title image  */
#dogPhoto{
    width: 200px;
    transform:rotate(25deg);
    position: relative; 
    left:200px;  
}

/* Title text  */
h1{
    color:#fff;
    font-weight: 600;
    font-size:2.9rem;
}

/* Features section */

#features{
    padding:7%;
    background-color: #fff;
    position: relative;
    z-index:1;
}

.png{
    padding:40px;
    text-align:center;
    font-family: 'Lilita One', cursive;

}
.features-heading{
    text-align: center;
    padding:15px;
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
    font:900;
}

.spec{
    color:#8f8f8f;
    font:200;
    font-family: 'Bree Serif', serif;
  
}
.icon{ 
    color:#ef8172;
}
.icon:hover{
    opacity: 0.8;
    color: #ff4c68;
}


/* Testimonial seciton  */

#testimonials{
    background-color: #ef8172;
    padding:2% 15%;
    text-align: center;
    line-height: 1.5;
    color:#fff;
    font-family: 'Bree Serif', serif;
}
.testimonial-image{
    width:100px;
    margin:20px;
    border-radius: 100%;
}
h2{
   padding:20px;
    font-weight:600px;
    font-size: 2.8rem;
}

#press{
    
    background-color: #ef8172;
    padding:3%;
    text-align: center;
}
.press-image{
    width:15%;
    margin:20px 20px 15px 20px;
}

.carousel-item{
    padding:3% 15%;
}

/* Pricing  */

#pricing{
    padding:3%;
}

.heading-pricing{
    padding: 10px;
    margin: 20px;
   
    text-align: center;
}
.heading-pricing > h2{
    margin-bottom: 10px;
    font-size:2.5rem;
    padding-bottom: 10px;
    font-family: 'Bree Serif', serif;
}

.heading-pricing>p{
    font-family: 'Bree Serif', serif;
    color:#8f8f8f;
}
 .card{
    font-family: 'Bree Serif', serif;
    margin:10px;
    text-align: center;
}
.prc-btn{
    margin: 10px;
}
 .prc-btn:hover{
    background-color: #fff;
    outline:#8f8f8f;
    color:black;
}
.card-body{
    line-height: 1.2;
    color:#8f8f8f;
}

/* Call to Action */

#cta > h3{
    color:#fff;
    font-weight: 600;
    font-size:2.5em;
    line-height: 1.2;
    padding: 5%;
}
#cta{
    padding:5%;
    text-align: center;
}
.cta-btn{
    padding:10px;
    margin:10px;
}

/* Contact section  */

#footer{
    
    padding:5% 15%;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#footer> a{

    margin:20px 10px;
    
}

@media (max-width:991px)
{
    /* Title section  */
    #title{
        text-align:center;
    }
    #dogPhoto{
      padding-top: 20px;
        width:300px;
        transform:rotate(0deg);
        position: static;

    }
    .container-fluid{
        padding:20px;
    }


    ul{
       margin:40px 0;
    }

    h2{
        padding:20px;
         font-weight:300px;
         font-size: 1.4rem;
     }

     /* testimonial section  */
     .testimonial-image{
         width:20%;
     }

     /* Pricing section  */
     .heading-pricing > h2{
        margin-bottom: 10px;
        font-size:1.9rem;
        padding-bottom: 10px;
        font-family: 'Bree Serif', serif;
    }

    /* Footer section  */
    #footer{
        padding:50px;
    }
    
}